.Register * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myFont1;
    src: url(../AnandaBlackPersonalUseRegular-rg9Rx.ttf);
}

@font-face {
    font-family: myFont2;
    src: url(../LordSpiritRegular-L3DwG.ttf);
}

.Register {
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.Register .form-wrapper {
    height: 80%;
    width: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 0 50px 5px #b5b5b5;
}

.Register form {
    display: grid;
    height: 100%;
    width: 90%;
    padding: 0% 2.5%;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 1.5%;
}

.Register input { 
    padding: 5%;
    border-color: #e2e2e2;
    border-style: solid;
}

.Register h1 {
    color: #ab2328;
    font-family: myFont1, serif;
    font-size: 3em;
    margin: 10% auto;
}

.Register button {
    background-color: #010049;
    font-family: myFont2;
    color: #fff;
    font-size: 2em;
}

.Register input,
.Register button {
    border-radius: 0.5rem;
}

.Register button {
    border-style: none;
}

.Register button:hover {
    background-color: #0236b0;
}

.Register button:active {
    background-color: #1c6ef4;
    color: #ab2328;
}

.Register-have-account {
    padding-top: 10px;
    color: #000;
    text-decoration: none;
}

.Register-have-account:hover {
    color: #ab2328;
}

.Register-have-account:active {
    color: #fa2c33;
}